
@{
    ViewBag.Title = "Roles";
}

<div class="jarviswidget jarviswidget-color-blueDark" id="">
    <header role="heading">
        <span class="widget-icon"> <i class="fa fa-user"></i> </span>
        <h2><strong>Lista de @ViewBag.ControllerName</strong></h2>
        <div class="widget-toolbar" role="menu">
            <a href="#" class="btn btn-primary" onclick="MostrarCrear()"><i class="fa fa-plus fa-fw"></i>   Crear @ViewBag.ControllerName</a>
        </div>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body no-padding">
            <table class="table table-bordered table-responsive table-hover" id="IdTabla" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="width:20px;"></th>
                        <th>Nombre Role </th>

                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {

<script>

    var ControllerActual = '@ViewBag.ControllerName'

    function MostrarCrear()
    {
        LoadWaitNotification();
        $.ajax({
            url:  "/"+ControllerActual+"/Crear",
            type: 'get',
            success: function (data) {
                $("#MyModalTitle").html("Crear " + ControllerActual);
                $("#MyModalBody").html(data);
                $("#MyModal").modal("show");
            },
            error: function (xhr, textStatus, errorThrown) {
                ShowboxError(textStatus, "Error"); alert(textStatus);
                UnloadWaitNotification();
            },
            complete: function () { UnloadWaitNotification(); }
        });
    }

    function MostrarEditar(id)
    {
        LoadWaitNotification();
        $.ajax({
            url: "/"+ControllerActual+"/Editar",
            type: 'get',
            data: {Id : id},
        success: function (data) {
            $("#MyModalTitle").html("Editar " + ControllerActual);
            $("#MyModalBody").html(data);
            $("#MyModal").modal("show");

        },
        error: function (xhr, textStatus, errorThrown) {
            ShowboxError(textStatus, "Error"); alert(textStatus);
            UnloadWaitNotification();
        },
        complete: function () { UnloadWaitNotification(); }
    });
    }

    function MostrarEliminar(id)
    {
        ShowSmartAlertEliminar("Eliminar " + ControllerActual, "Desea Eliminarlo Permanentemente?", Eliminar, id)
    }

    function Eliminar(id)
    {
        LoadWaitNotification();
        $.ajax({
            url:"/"+ControllerActual+"/Eliminar",
            type: 'post',
        data: {Id : id},
        success: function (data) {
            if (data.Estado) {
                ShowboxSuccess(data.Mensaje, data.Titulo);
                new $.fn.dataTable.Api("#IdTabla").ajax.reload();

            } else ShowboxError(data.Mensaje, data.Titulo);

        },
        error: function (xhr, textStatus, errorThrown) {
            ShowboxError(textStatus, "Error"); alert(textStatus);
            UnloadWaitNotification();
        },
        complete: function () { UnloadWaitNotification(); }
    });
    }

    $(document).ready(function () {

        $("#IdTabla").dataTable({
        ajax: {
            url: "/"+ControllerActual+"/Listar",
            type: "GET",
            dataSrc: function (data) {
                return data;
            }
            },
            "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6 hidden-xs'f><'col-sm-6 col-xs-12 hidden-xs'<'toolbar'>l>r>" +
            "t" +
            "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
            "language": {
                "emptyTable": "No se encontraron resultados.",
                "search": '<div class="icon-addon addon-md"><label for="search" class="glyphicon glyphicon-search"></label>',
                "paginate": {
                    first: "Primero",
                    previous: "Anterior",
                    next: "Siguiente",
                    last: "Ultimo"
                },
                "lengthMenu": " _MENU_ ",
                "info": "Mostrando registros del _START_ al _END_ de _TOTAL_ registros totales.",
                "infoEmpty": "No hay registros para mostrar.",
        },
        columns: [
            {
                data: null,
                render: function (data) {
                    var opciones = '<div class="btn-group display-inline pull-left text-align-left">' + '<button class="btn btn-xs btn-info dropdown-toggle ';
                    opciones += '" data-toggle="dropdown" aria-expanded="false"> Opciones <i class="fa fa-caret-down fa-lg"></i> </button><ul class="dropdown-menu dropdown-menu-xs pull-right">';
                    opciones += ('<li><a href="javascript:void(0);" onclick="MostrarEditar(!' + data.Id + '!)"><i class="fa fa-pencil fa-lg fa-fw"></i> Editar</a></li>').replace(new RegExp("!", 'g'), "'");
                    opciones += ('<li><a href="javascript:void(0);" onclick="MostrarEliminar(!' + data.Id + '!)"><i class="fa fa-ban fa-lg fa-fw"></i> Eliminar</a></li>').replace(new RegExp("!", 'g'), "'");;
                    opciones += '</ul></div>';
                    return opciones;
                }
            },
            {
                data: "NombreRole"
            }
        ]
    });


    })
</script>

}