@model IEnumerable<ProyectoSoft2.Models.Curso.ListaIntructorAsignadoACurso>


<table class="table table-bordered table-responsive" cellspacing="0" width="100%" id="tablaInstructorCurso">
    <thead>
        <tr>
            <th class="text-center"> Instructor</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr id="@item.IdInstructor">

                    <td>
                        <div class="smart-form">
                            <label class="checkbox" style="padding-left:20px">
                                @Html.EditorFor(modelItem => item.EstaAsignado)<i></i>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </label>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<hr />
<div class="form-group pull-right" style="padding-bottom:50px;">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    @if (@Model != null)
    {<button type="button" onclick="GuardarSeleccion('@ViewBag.IdCurso','tablaInstructorCurso', 'GuardarAsignacionDeInstructorACurso', 'Cursos')" class="btn btn-success">Guardar</button>}
</div>
<br />
<br />

<script>
    $(document).ready(function () {
        $("#tablaInstructorCurso").dataTable();
        $('input[type="checkbox"]').change(function () {
            var state = this.checked;
            var table = new $.fn.dataTable.Api('#tablaInstructorCurso');
            var rows = table.rows().nodes();
            $('input[type="checkbox"]', rows).prop('checked',false);

             $(this).prop('checked',state);
            
        });

    });

</script>

