@model IEnumerable<ProyectoSoft2.DB.Areas>

@{
    ViewBag.Title = "Index";
}


<div class="jarviswidget jarviswidget-color-blueDark" id="">
    <header role="heading">
        <span class="widget-icon"> <i class="fa fa-cog"></i> </span>
        <h2><strong>Lista de Areas</strong></h2>
        <div class="widget-toolbar" role="menu">
            <a href="/Areas/Create" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i>   Crear Area</a>
        </div>
    </header>
    <!-- widget div-->
    <div>
        <!-- widget content -->
        <div class="widget-body">
            <table class="table table-bordered table-responsive table-hover" id="IdTabla" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.NombreArea)
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreArea)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.IdArea }) |
                               
                                @Html.ActionLink("Delete", "Delete", new { id = item.IdArea })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
<script>
$(document).ready(function(){
    $("#IdTabla").dataTable();
        
});

</script>    
      
}